.left_top {
   position: absolute;
   left: 50px;
   top: 50px;
   display: flex;
   max-height: 50vh;
}
.post_wrap {
   display: flex;
   flex-direction: column;
   gap: 5px;
   overflow-y: auto;
   background-color: rgba(0, 0, 0, 0.1);
}
.post_wrap::-webkit-scrollbar {
   display: none;
}
.btn_wrap {
   display: flex;
   flex-direction: column;
}
.btn {
   width: 50px;
   height: 30px;
   border-radius: 5px;
   border: none;
   background-color: white;
   font-size: 16px;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   margin: 0 5px;
}
.btn:hover {
   transform: scale(1.1);
}
