.wrap {
   width: 300px;
   border-radius: 10px;
   font-size: 16px;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   padding: 10px 0 10px 10px;
   background-color: white;
   cursor: pointer;
}
.wrap > span:first-child {
   margin-right: 15px;
}
.wrap > span {
   pointer-events: none;
}
.active {
   background-color: red;
}
