.scrollbar {
   position: fixed;
   width: 10px;
   border: 1px solid transparent;
   transform: translateX(-10px);
}
.track {
   position: relative;
   width: inherit;
   height: inherit;
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.1);
}
.thumb {
   position: absolute;
   width: inherit;
   height: 10px;
   background-color: red;
   border-radius: 5px;
   top: 0;
}
