.group {
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.box {
   width: 300px;
   border-radius: 10px;
   font-size: 16px;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   padding: 10px 0;
   background-color: white;
}
.active {
   background-color: red;
}
